<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receive</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="shortcut icon" href="favicon.jpg" type="image/x-jpg">
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="favicon.jpg">
</head>
<body>
  <div class='preload'>
    <p class='loader_text'>Loading...</p>
  </div>
  <div class="container">
    <h1>Receive Files</h1>
    <div class="receive"></div>
    <a href="./index.html" style="margin-top: 40px; font-weight: 600; font-size: larger;">Back</a>
  </div>

  <script type="module" src="./js/receiver.js"></script>  
</body>
</html>