@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
    /* overflow: hidden; */
}
tr{
    border-bottom: solid 1px rgb(240, 236, 236);
}
td{
    padding-top: 14px;
}
dialog{
    opacity: 0;
    scale: 0;
    display: block;
    transition: all 0.5s;
}
dialog[open]{
    opacity: 1;
    scale: 1.1;
}
#file-tabs{
    display: none;
}
/*preloader*/
.preload{
    background: white url('./images/Loading_icon.gif') no-repeat center;
    background-size: 200px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 200;
    display: none;
}
@media screen and (max-width:1200px) {
    #sideshow{
        display: none;
    }
    #panel{
        width: 100vw;
    }
}

@media screen and (max-width:800px) {
    #recently,#footer{
        display: none;
    }
}

@media screen and (max-width:700px) {
    #file-table,#nav{
        display: none;
    }
    #file-tabs{
        display: block;
    }
}