@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
    font-family: 'Roboto';
    /* overflow: hidden; */
}
tr{
    border-bottom: solid 1px rgb(240, 236, 236);
}
td{
    padding-top: 14px;
}
dialog{
    opacity: 0;
    scale: 0;
    display: block;
    transition: all 0.5s;
}
dialog[open]{
    opacity: 1;
    scale: 1.1;
}