@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
    font-family: 'Roboto';
    /* overflow: hidden; */
}
tr{
    border-bottom: solid 1px rgb(216, 216, 216);
}
td{
    padding-top: 14px;
}